{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/initial.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static 'images/istockphoto-1249547007-170667a.jpg' %}" alt="logo">
            <h1>MyBookStore</h1>
        </header>

        <main>
            <h1>
                No such user!
            </h1>

            <p>
                <a href="{% url 'initial' %}"><strong>Return to initial page</strong></a>
            </p>
        </main>
    </body>
</html>