{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/index-css.css' %}">
        <link rel="stylesheet" href="{% static 'css/product.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static 'images/istockphoto-1249547007-170667a.jpg' %}" alt="logo">
            <h1>My Book Store</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' pk=pk %}">Home</a></li>
                    <li><a href="{% url 'about' pk=pk %}">About</a></li>
                    <li><a href="{% url 'contacts' pk=pk %}">Contacts</a></li>
                    <li><a href="{% url 'products' pk=pk %}">My Products</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <p>Product Page</p>

            {% if user_products %}
                {% for up in user_products %}
                    <div>
                        <b>{{ up.name }}</b><br>
                        <b>{{ up.price }}</b><br>
                        <b>{{ up.description }}</b>
                    </div>
                {% endfor %}
            {% elif not user_products %}
                <p>There are no products</p>
            {% endif %}
        </main>
    </body>
</html>