header {
    border: 1px solid black;
    align-items: center;
    display: flex;
    background-color: rgba(46, 51, 46, 0.75);
    color: white;
}

header h1 {
    margin-left: 10px;
}

header img {
    width: 100px;
    height: 80px;
    float: left;
}

header nav {
    margin-left: auto;
    margin-right: 10px;
}

header nav ul li {
    display: inline;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
}

header a:hover {
    color: rgba(43, 49, 38, 0.65);
}