main div {
    background-color: lightblue;
    width: 300px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

main div span {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid white;
    background-color: darkgray;
    padding: 10px;
    width: 35px;
    text-align: center;
    border-radius: 6px;
}

main div a:hover {
    color:blue;
}

main span {
    display: flex;
    margin-top: 15px;
    border: 1px solid white;
    background-color: darkgray;
    padding: 10px;
    width: 110px;
    text-align: center;
    border-radius: 6px;
    align-self: center;
}

main span a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

main span a:hover {
    color: blue;
}